fastapi
uvicorn[standard]
python-multipart
pandas
openpyxl
ollama
pillow
requests
# The following are only needed if you want to run the Jupyter Notebook
jupyter
notebook
matplotlib
supabase
python-dotenv
tavily
supabase
openai
requests